* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

:root {
    --purple: #1d2039;
    --light-purple: #242947;
    --lighter-purple: #797e9a;
    --green: #66a663;
    --white: #fff;
    --orange: #dbac36;
}

body {
    background-color: var(--purple);
    padding: calc(0.9vw + 6.7px) calc(1.4vw + 10px);
}

#loginWrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(159,159,184,0.26934523809523814) 35%, rgba(0,212,255,1) 100%);
    width: 100%;
    height: 100vh;
}

#loginWrapper form {
    width: calc(11.1vw + 160px);
    display: flex;
    flex-direction: column;
    gap: calc(0.4vw + 4.7px);
    align-items: center;
}

#loginWrapper form h3 {
    font-size: calc(1.1vw + 14px);
}

#loginWrapper form input {
    width: 100%;
    padding: calc(0.4vw + 4.7px);
    font-size: calc(0.8vw + 12px);
    outline: none;
    border-radius: 4px;
    background-color: var(--light-purple);
}

.rounded {
    background-color: var(--light-purple);
    border-radius: calc(0.9vw + 6.7px);
    padding: calc(1.4vw + 10px);
    margin-bottom: calc(0.9vw + 6.7px);
}

header {
    display: flex;
    align-items: center;
    gap: 0 calc(0.9vw + 6.7px);
}

h1 {
    font-weight: bold;
    font-size: calc(1.7vw + 12px);
}

.logo {
    width: calc(2.8vw + 40px);
    height: calc(2.8vw + 40px);
}

.rounded span {
    font-size: calc(0.7vw + 5.3px);
}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: calc(0.9vw + 6.7px);
}

.gameArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1000;
}

.gameSetting {
    flex-basis: calc(23.1vw + 166.7px);
    flex-grow: 1;
}

.gameField {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: calc(0.2vw + 3.3px);
}

.field {
    width: calc(0.4vw + 24.7px);
    height: calc(0.4vw + 24.7px);
    border-radius: 4px;
    background-color: var(--purple);
    cursor: pointer;
    font-size: calc(1.1vw + 8px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.field.active {
    background-color: var(--lighter-purple);
}

.field.flag {
    background-image: url(./img/flag-in-hole.png);
    background-color: var(--green);
    background-position: center;
    background-size: cover;
}

.gameSetting h2 {
    font-size: calc(1.1vw + 10px);
    text-align: center;
    margin-bottom: calc(1.4vw + 10px);
}

.score {
    display: flex;
    flex-wrap: wrap;
    gap: calc(0.3vw + 6px) calc(0.9vw + 6.7px);
    margin-bottom: 20px;
}

.point {
    flex-basis: calc(4.6vw + 83.3px);
    background-color: var(--purple);
    padding: calc(0.7vw + 5.3px) calc(0.9vw + 6.7px);
    flex-grow: 1;
    text-align: center;
    border-radius: calc(1.3vw + 9.3px);
    cursor: pointer;
    font-size: calc(0.7vw + 13.3px);
}

.point.active {
    background-color: var(--orange);
}

#gameBtn {
    width: 100%;
    padding: calc(0.9vw + 6.7px);
    background-color: var(--green);
    border-radius: calc(1.7vw + 8px);
    border: 0;
    cursor: pointer;
    font-size: calc(0.9vw + 10.7px);
}

.field.bomb {
    background-image: url(./img/bomb.png);
    background-color: rgb(138, 14, 14);
    background-position: center;
    background-size: calc(0.6vw + 22px);
    background-repeat: no-repeat;
    
}